{
  "presets": ["@babel/preset-env"],
  "sourceMaps": "inline",
  "retainLines": true,
  "env": {
    "development": {
      "sourceMaps": "inline",
      "retainLines": true
    }
  },
  "plugins": [
    [
      "@babel/plugin-transform-runtime",
      {
        "regenerator": true
      }
    ],
    "@babel/plugin-proposal-class-properties"
  ]
}
